main{
    margin-top: 50%;
}

.form-container{
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* paddi: 12px; */
}

.form-container h1{
    font-size: 40px;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.form-field input{
border: 3px solid black;
padding: 16px;
margin: 8px;
width: 350px;
border-radius: 30px;
font-size: 20px;
}

.form-field input::placeholder{
    font-size: 18px;
}

.button{
    border: none;
    padding: 20px 60px;
    color: #ffffff;
    background : linear-gradient(45deg, #880fc4 0%, #1d39f2 100%);
    border-radius: 30px;
font-size: 15px
}