@import url('./withdrawal.css');

.deposit-card-header{
    margin-bottom: 20px;
    text-align: start;
}

.deposit-card-header h1 {
    font-size: 24px;
}


.deposit-card img{
    width: 80px;
    height: 80px;
}


.deposit-btn{
    border: none;
    color: white;
    padding: 12px;
    color: white;
    background-color: #1d39f2;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}

.deposit-card-menu{
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.deposit-card-container {
    display         : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding         : 10px;
    background-color: #fff;
    border-radius   : 20px;   margin: 20px;
}


@media screen and (max-width:586px) {
    .deposit-card-menu{
        display: block;
    }

    .deposit-card-container{
    }

    .deposit-card{
        width: 200px;
        height: auto;
        margin: 0;
    }
}
